* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: "Roboto", "Arial", sans-serif;
}

*:focus {
  outline: 3px dotted #FF7500;
  outline-offset: 4px;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  border-top: 5px solid #FF7500;
  padding-top: 16px;
  padding-bottom: 16px;
}

.site-headers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  transition: opacity 0.4s ease
}

.logo img {
    display: block;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

ul {
  list-style-type: none;
}

h2, h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul {
  padding: 0;
  display: flex ;
  margin: 0;
  margin-right: 32px;
  justify-content: space-between;
}

.nav-link {
  font-size: 16px;
  letter-spacing: 1px;
  color: black;
  margin-right: 32px;
  text-decoration: none;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.nav-ul:last-child {
  margin-right: 0;
}

.nav-link:hover {
  color: #FF7500;
}

.nav-link:active {
  opacity: 0.6;
}


.signin {
  display: inline-block;
  background-color: #FF7500;
  padding: 12px 24px;
  border-radius:  4px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.4s ease;
}

.signin:hover {
  opacity: 0.8;
}

.signin:active {
  opacity: 0.6;
}

.hero {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252420;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texts {
  color: white;
}

.python-book {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: bold;
}

.about-pbook {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 16px;
}

.hero-img {
  border-radius: 8px;
  box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}

.hr {
  margin: 0;
  margin-bottom: 40px;
  width: 80px;
  height: 3px;
  border: 0;
  background-color: #FF7500;
}

.order {
  background-color: #FF7500;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

.features {
  padding-top: 210px;
  padding-bottom: 210px;
  display: flex;
  flex-direction: column;
}

.why-akademnashr {
  margin: 0;
  margin-bottom: 72px;
  width: 440px;
  line-height: 1.2;
  font-family: "Roboto Condenced", "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
  font-size: 72px;
  font-weight: bold;
}

.why-wrapper {
  padding:  0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.features-icon {
  width: 340px;
  margin-right: 40px;
}

.features-icon:last-child {
  margin-right: 0;
}

.why-akdemnshar-icon-wrapper {
  display: flex;
  justify-content: center;
  margin-right: 40px;
  margin-bottom: 32px;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.why-akademnashr-p {
  font-size: 16px;
}

.span {
  color: #FF7500;
}

.sale {
  background-color: #252420;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
}

.sale-img {
  border-radius: 12px;
  object-fit: cover;
}

.sale-h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 24px;
}

.sale-p {
  font-size: 16px;
  margin-top: 0;
}

.sale-p:last-child{
  margin-bottom: 0;
}

.sale-p-wrapper {
  margin-bottom: 24px;
}

footer {
  background-color: #f8f8f8;
  padding-top: 56px;
  padding-bottom: 56px;
}

.fotter-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
}

.socials li {
  margin-right: 16px; 
}

.socials li:last-child {
  margin-right: 0px;
}

.socials a {
  display: block;
  color: #252420;
}

.socials a:hover {
  color: #FF7500;
}

.socials a:active {
  opacity: 0.6;
}

.socials svg {
  display: block;
}

.fotter-hr {
  margin-top: 40px;
  margin-bottom: 64px;  
  height: 2px;
  border: 0;
  background-color: rgba(37, 36, 32, 0.5);
}

.site-fotter-bottom-link {
  display: flex;
  padding: 0;
  margin: 0;
}

.site-fotter-bottom-link ul {
  padding: 0;
  margin: 0;
  margin-right: 68px;
}

.site-fotter-bottom-link ul:last-child {
  margin-right: 0;
}

.fotter-link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.fotter-link:hover {
  color: #FF7500;
}

.fotter-link:active {
  opacity: 0.6;
}

.site-fotter-bottom-link li {
  margin-bottom: 16px;
}

.site-fotter-bottom-link li:last-child {
  margin-bottom: 0;
}