body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: "Roboto", "Arial", sans-serif;
}

ul {
  list-style-type: none;
}

h2, h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.nav-link {
  font-size: 13px;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
}

.signin {
  background-color: #FF7500;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background-color: #252420;
}

.texts {
  color: white;
}

.python-book {
  font-size: 40px;
  font-weight: bold;
}

.about-pbook {
  font-size: 16px;
}

.hr {
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}

.order {
  background-color: #FF7500;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

.why-akademnashr {
  font-size: 72px;
  font-weight: bold;
}

.why-akdemnshar-icon-wrapper {
  width: 100px;
  height: 100px;
  background-color: #FFE3CC33;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.why-akademnashr-p {
  font-size: 16px;
}

.span {
  color: #FF7500;
}

.sale {
  background-color: #252420;
}

.sale-h2 {
  font-size: 40px;
  font-weight: bold;
}

.sale-p {
  font-size: 16px;
}

.footer-link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
}